[submodule "signal"]
	path = framework/service/signal
  url = git://github.com/multiverse-os/signal

[submodule "pid"]
	path = framework/service/pid
  url = git://github.com/multiverse-os/pid

[submodule "datastore"]
	path = framework/datastore
	url = git://github.com/multiverse-os/datastore
