[submodule "signal"]
	path = framework/service/signal
  url = https://github.com/multiverse-os/signal

[submodule "pid"]
	path = framework/service/pid
  url = https://github.com/multiverse-os/pid

[submodule "muid"]
	path = framework/datastore/id
  url = https://github.com/multiverse-os/muid

[submodule "levelup"]
	path = framework/datastore/leveldb
  url = https://github.com/multiverse-os/levelup

[submodule "codec"]
  path = framework/datastore/codec
  url = https://github.com/multiverse-os/codec

