[submodule "framework/service/signal"]
	path = framework/service/signal
  url = https://github.com/multiverse-os/signal

[submodule "framework/service/pid"]
	path = framework/service/pid
  url = https://github.com/multiverse-os/pid

[submodule "framework/datastore"]
	path = framework/datastore
	url = https://github.com/multiverse-os/datastore
